# üìä Analyse des Donn√©es d'Emploi Adzuna

Ce notebook charge les donn√©es JSON d'Adzuna et les transforme en DataFrame pandas pour l'analyse.

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

print("‚úÖ Librairies import√©es avec succ√®s !")

‚úÖ Librairies import√©es avec succ√®s !

## üìÇ Chargement des donn√©es JSON

In [7]:
# Charger le fichier JSON
with open('../data/jobs_data.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

# Afficher les m√©tadonn√©es
print("üìä M√©tadonn√©es du dataset:")
for key, value in data['metadata'].items():
    print(f"  {key}: {value}")

print(f"\nüìã Nombre total d'offres dans le JSON: {len(data['jobs'])}")

# Aper√ßu de la premi√®re offre pour comprendre la structure
print(f"\nüëÄ Structure d'une offre d'emploi:")
if data['jobs']:
    first_job = data['jobs'][0]
    for key, value in first_job.items():
        if isinstance(value, dict):
            print(f"  {key}: {type(value)} - {list(value.keys())}")
        elif isinstance(value, list):
            print(f"  {key}: {type(value)} - {len(value)} √©l√©ments")
        else:
            print(f"  {key}: {type(value)} - {str(value)[:50]}{'...' if len(str(value)) > 50 else ''}")

üìä M√©tadonn√©es du dataset:
  search_term: data
  total_jobs: 35000
  scraping_date: 2025-06-05T18:58:08.096210
  api_source: Adzuna

üìã Nombre total d'offres dans le JSON: 35000

üëÄ Structure d'une offre d'emploi:
  contract_time: <class 'str'> - full_time
  created: <class 'str'> - 2025-06-05T18:08:34Z
  __CLASS__: <class 'str'> - Adzuna::API::Response::Job
  title: <class 'str'> - Mission mentorat - Data Engineer
  salary_is_predicted: <class 'str'> - 0
  longitude: <class 'float'> - 2.3365
  location: <class 'dict'> - ['display_name', '__CLASS__', 'area']
  contract_type: <class 'str'> - contract
  salary_min: <class 'int'> - 108000
  id: <class 'str'> - 5234723007
  salary_max: <class 'int'> - 192000
  redirect_url: <class 'str'> - https://www.adzuna.fr/land/ad/5234723007?se=JmU6xS...
  adref: <class 'str'> - eyJhbGciOiJIUzI1NiJ9.eyJzIjoiSm1VNnhTeEM4QkdrVkEtY...
  description: <class 'str'> - Description du poste Quelles sont les missions des...
  category: <class 'dict'> - ['__CLASS__', 'label', 'tag']
  company: <class 'dict'> - ['__CLASS__', 'display_name']
  latitude: <class 'float'> - 48.8814

## üîÑ Transformation en DataFrame pandas

In [8]:
def flatten_job_data(job):
    """
    Transforme un objet job complexe en dictionnaire plat pour pandas
    """
    flattened = {}
    
    # Champs simples
    simple_fields = ['id', 'title', 'description', 'created', 'contract_type', 
                    'contract_time', 'salary_min', 'salary_max', 'salary_is_predicted',
                    'latitude', 'longitude', 'redirect_url']
    
    for field in simple_fields:
        flattened[field] = job.get(field, None)
    
    # Champs complexes - Company
    company = job.get('company', {})
    flattened['company_name'] = company.get('display_name', None)
    
    # Champs complexes - Location
    location = job.get('location', {})
    flattened['location_display'] = location.get('display_name', None)
    
    area = location.get('area', [])
    flattened['country'] = area[0] if len(area) > 0 else None
    flattened['region'] = area[1] if len(area) > 1 else None
    flattened['department'] = area[2] if len(area) > 2 else None
    flattened['city'] = area[-1] if len(area) > 0 else None
    
    # Champs complexes - Category
    category = job.get('category', {})
    flattened['category_label'] = category.get('label', None)
    flattened['category_tag'] = category.get('tag', None)
    
    return flattened

# Transformer toutes les offres
jobs_flattened = [flatten_job_data(job) for job in data['jobs']]

# Cr√©er le DataFrame
df_jobs = pd.DataFrame(jobs_flattened)

print(f"‚úÖ DataFrame cr√©√© avec {len(df_jobs)} lignes et {len(df_jobs.columns)} colonnes")
print(f"\nüìã Colonnes disponibles:")
for i, col in enumerate(df_jobs.columns, 1):
    print(f"  {i:2d}. {col}")

‚úÖ DataFrame cr√©√© avec 35000 lignes et 20 colonnes

üìã Colonnes disponibles:
   1. id
   2. title
   3. description
   4. created
   5. contract_type
   6. contract_time
   7. salary_min
   8. salary_max
   9. salary_is_predicted
  10. latitude
  11. longitude
  12. redirect_url
  13. company_name
  14. location_display
  15. country
  16. region
  17. department
  18. city
  19. category_label
  20. category_tag

## üßπ Nettoyage et enrichissement des donn√©es

In [9]:
# Conversion des types de donn√©es
df_jobs['created'] = pd.to_datetime(df_jobs['created'])
df_jobs['salary_min'] = pd.to_numeric(df_jobs['salary_min'], errors='coerce')
df_jobs['salary_max'] = pd.to_numeric(df_jobs['salary_max'], errors='coerce')
df_jobs['latitude'] = pd.to_numeric(df_jobs['latitude'], errors='coerce')
df_jobs['longitude'] = pd.to_numeric(df_jobs['longitude'], errors='coerce')

# Calcul de salaires moyens et conversion en k‚Ç¨
df_jobs['salary_avg'] = (df_jobs['salary_min'] + df_jobs['salary_max']) / 2
df_jobs['salary_min_k'] = df_jobs['salary_min'] / 1000
df_jobs['salary_max_k'] = df_jobs['salary_max'] / 1000
df_jobs['salary_avg_k'] = df_jobs['salary_avg'] / 1000

# Nettoyage des titres et descriptions
df_jobs['title_clean'] = df_jobs['title'].str.strip()
df_jobs['description_length'] = df_jobs['description'].str.len()

# Extraction des informations g√©ographiques
df_jobs['is_paris'] = df_jobs['location_display'].str.contains('Paris', case=False, na=False)
df_jobs['is_ile_de_france'] = df_jobs['region'].str.contains('Ile-de-France', case=False, na=False)

# Identification des types de postes
df_jobs['is_data_scientist'] = df_jobs['title_clean'].str.contains('Data Scientist', case=False, na=False)
df_jobs['is_data_analyst'] = df_jobs['title_clean'].str.contains('Data Analyst', case=False, na=False)
df_jobs['is_data_engineer'] = df_jobs['title_clean'].str.contains('Data Engineer', case=False, na=False)
df_jobs['is_alternance'] = df_jobs['title_clean'].str.contains('alternance', case=False, na=False)

print("‚úÖ Nettoyage et enrichissement termin√©s !")
print(f"üìä Nouvelles colonnes ajout√©es: {len(df_jobs.columns) - len(jobs_flattened[0])}")
print(f"üìà DataFrame final: {len(df_jobs)} lignes, {len(df_jobs.columns)} colonnes")

‚úÖ Nettoyage et enrichissement termin√©s !
üìä Nouvelles colonnes ajout√©es: 12
üìà DataFrame final: 35000 lignes, 32 colonnes

## üëÄ Aper√ßu du DataFrame

In [10]:
# Afficher les premi√®res lignes
print("üîç Aper√ßu des premi√®res lignes du DataFrame:")
display(df_jobs.head())

# Informations g√©n√©rales
print(f"\nüìä Informations g√©n√©rales:")
print(f"  üìã Nombre d'offres: {len(df_jobs)}")
print(f"  üìÖ P√©riode: {df_jobs['created'].min().strftime('%Y-%m-%d')} √† {df_jobs['created'].max().strftime('%Y-%m-%d')}")
print(f"  üè¢ Entreprises uniques: {df_jobs['company_name'].nunique()}")
print(f"  üìç Lieux uniques: {df_jobs['location_display'].nunique()}")

# Informations sur les salaires
salary_data = df_jobs.dropna(subset=['salary_avg_k'])
if len(salary_data) > 0:
    print(f"\nüí∞ Informations salariales:")
    print(f"  üìä Offres avec salaire: {len(salary_data)} ({len(salary_data)/len(df_jobs)*100:.1f}%)")
    print(f"  üíµ Salaire moyen: {salary_data['salary_avg_k'].mean():.1f}k‚Ç¨")
    print(f"  üìà Salaire m√©dian: {salary_data['salary_avg_k'].median():.1f}k‚Ç¨")
    print(f"  ‚¨áÔ∏è Salaire min: {salary_data['salary_avg_k'].min():.1f}k‚Ç¨")
    print(f"  ‚¨ÜÔ∏è Salaire max: {salary_data['salary_avg_k'].max():.1f}k‚Ç¨")

# Types de postes
print(f"\nüéØ Types de postes:")
print(f"  üî¨ Data Scientist: {df_jobs['is_data_scientist'].sum()} ({df_jobs['is_data_scientist'].mean()*100:.1f}%)")
print(f"  üìä Data Analyst: {df_jobs['is_data_analyst'].sum()} ({df_jobs['is_data_analyst'].mean()*100:.1f}%)")
print(f"  ‚öôÔ∏è Data Engineer: {df_jobs['is_data_engineer'].sum()} ({df_jobs['is_data_engineer'].mean()*100:.1f}%)")
print(f"  üéì Alternance: {df_jobs['is_alternance'].sum()} ({df_jobs['is_alternance'].mean()*100:.1f}%)")

# G√©ographie
print(f"\nüìç R√©partition g√©ographique:")
print(f"  üèôÔ∏è Paris: {df_jobs['is_paris'].sum()} ({df_jobs['is_paris'].mean()*100:.1f}%)")
print(f"  üåç √éle-de-France: {df_jobs['is_ile_de_france'].sum()} ({df_jobs['is_ile_de_france'].mean()*100:.1f}%)")

üîç Aper√ßu des premi√®res lignes du DataFrame:

,id,title,description,created,contract_type,contract_time,salary_min,salary_max,salary_is_predicted,latitude,...,salary_max_k,salary_avg_k,title_clean,description_length,is_paris,is_ile_de_france,is_data_scientist,is_data_analyst,is_data_engineer,is_alternance
0,5234723007,Mission mentorat - Data Engineer,Description du poste Quelles sont les missions...,2025-06-05 18:08:34+00:00,contract,full_time,108000.0,192000.0,0,48.88140,...,192.0,150.0,Mission mentorat - Data Engineer,500,True,True,False,False,True,False
1,5222885856,Data scientist / data engineer,"Contexte Havea, leader europ√©en de la sant√© na...",2025-05-30 06:12:58+00:00,None,None,NaN,NaN,0,NaN,...,NaN,NaN,Data scientist / data engineer,500,False,False,True,False,True,False
2,5234722960,Data Analyst - (H/F) - En alternance,Description du poste Vos missions en tant que ...,2025-06-05 18:08:33+00:00,contract,full_time,108000.0,192000.0,0,48.73030,...,192.0,150.0,Data Analyst - (H/F) - En alternance,500,False,True,False,True,False,True
3,5234723040,Data Analyst - (H/F) - En alternance,Description du poste Vos missions en tant que ...,2025-06-05 18:08:34+00:00,contract,full_time,108000.0,192000.0,0,48.87014,...,192.0,150.0,Data Analyst - (H/F) - En alternance,500,False,True,False,True,False,True
4,5234722999,Data Analyst - (H/F) - En alternance,Description du poste Vos missions en tant que ...,2025-06-05 18:08:34+00:00,contract,full_time,108000.0,192000.0,0,48.88140,...,192.0,150.0,Data Analyst - (H/F) - En alternance,500,True,True,False,True,False,True

üìä Informations g√©n√©rales:
  üìã Nombre d'offres: 35000
  üìÖ P√©riode: 2017-10-20 √† 2025-06-05
  üè¢ Entreprises uniques: 1827
  üìç Lieux uniques: 487

üí∞ Informations salariales:
  üìä Offres avec salaire: 7945 (22.7%)
  üíµ Salaire moyen: 36.8k‚Ç¨
  üìà Salaire m√©dian: 42.5k‚Ç¨
  ‚¨áÔ∏è Salaire min: 0.0k‚Ç¨
  ‚¨ÜÔ∏è Salaire max: 299.0k‚Ç¨

üéØ Types de postes:
  üî¨ Data Scientist: 2570 (7.3%)
  üìä Data Analyst: 10691 (30.5%)
  ‚öôÔ∏è Data Engineer: 3795 (10.8%)
  üéì Alternance: 4525 (12.9%)

üìç R√©partition g√©ographique:
  üèôÔ∏è Paris: 5232 (14.9%)
  üåç √éle-de-France: 18063 (51.6%)

## üìä Analyses rapides

 `df_jobs` pour les analyses

In [11]:
# Exemples d'analyses :

# 1. Top 10 des entreprises qui recrutent
print("üè¢ TOP 10 ENTREPRISES:")
top_companies = df_jobs['company_name'].value_counts().head(10)
for i, (company, count) in enumerate(top_companies.items(), 1):
    print(f"  {i:2d}. {company}: {count} offres")

# 2. Top 10 des localisations
print(f"\nüìç TOP 10 LOCALISATIONS:")
top_locations = df_jobs['location_display'].value_counts().head(10)
for i, (location, count) in enumerate(top_locations.items(), 1):
    print(f"  {i:2d}. {location}: {count} offres")

# 3. Analyse des salaires par type de poste
print(f"\nüí∞ SALAIRES PAR TYPE DE POSTE:")
for job_type, column in [('Data Scientist', 'is_data_scientist'), 
                        ('Data Analyst', 'is_data_analyst'), 
                        ('Data Engineer', 'is_data_engineer')]:
    subset = df_jobs[df_jobs[column] & df_jobs['salary_avg_k'].notna()]
    if len(subset) > 0:
        print(f"  üéØ {job_type}: {subset['salary_avg_k'].mean():.1f}k‚Ç¨ en moyenne ({len(subset)} offres)")

print(f"\n‚úÖ Variable principale cr√©√©e: df_jobs")
print(f"üìä Pr√™t pour vos analyses personnalis√©es !")

üè¢ TOP 10 ENTREPRISES:
   1. Smile: 1384 offres
   2. Herbert Smith Freehills: 1202 offres
   3. Safran: 1073 offres
   4. Cr√©dit Agricole: 1038 offres
   5. Techteam: 1028 offres
   6. Groupe SII: 788 offres
   7. Randstad: 780 offres
   8. Carrefour: 631 offres
   9. JEMS: 628 offres
  10. Sanofi Group: 619 offres

üìç TOP 10 LOCALISATIONS:
   1. France: 4627 offres
   2. Paris, Ile-de-France: 2421 offres
   3. Rh√¥ne, Auvergne-Rh√¥ne-Alpes: 1289 offres
   4. Bouches-du-Rh√¥ne, Provence-Alpes-C√¥te d'Azur: 1233 offres
   5. Massy, Palaiseau: 1064 offres
   6. Pont-Rousseau, Rez√©: 1028 offres
   7. Rangueuil, Toulouse: 819 offres
   8. Seine-Saint-Denis, Ile-de-France: 790 offres
   9. Levallois-Perret, Nanterre: 674 offres
  10. Hauts-de-Seine, Ile-de-France: 666 offres

üí∞ SALAIRES PAR TYPE DE POSTE:
  üéØ Data Scientist: 27.2k‚Ç¨ en moyenne (122 offres)
  üéØ Data Analyst: 15.0k‚Ç¨ en moyenne (2238 offres)
  üéØ Data Engineer: 46.7k‚Ç¨ en moyenne (1630 offres)

‚úÖ Variable principale cr√©√©e: df_jobs
üìä Pr√™t pour vos analyses personnalis√©es !

## üí° Variables disponibles pour vos analyses

**Variable principale : `df_jobs`** - DataFrame pandas avec toutes les offres d'emploi

### üìã Colonnes principales :
- **Identifiants** : `id`, `title`, `company_name`
- **Dates** : `created` (datetime)
- **Salaires** : `salary_min_k`, `salary_max_k`, `salary_avg_k` (en k‚Ç¨)
- **G√©ographie** : `country`, `region`, `department`, `city`, `location_display`
- **Classification** : `is_paris`, `is_ile_de_france`, `is_data_scientist`, `is_data_analyst`, `is_data_engineer`, `is_alternance`
- **Contrat** : `contract_type`, `contract_time`
- **Autres** : `description`, `description_length`, `category_label`, `latitude`, `longitude`

### üîç Exemples d'analyses possibles :
```python
# Filtrer par type de poste
data_scientists = df_jobs[df_jobs['is_data_scientist']]

# Filtrer par localisation
jobs_paris = df_jobs[df_jobs['is_paris']]

# Filtrer par salaire
high_salary = df_jobs[df_jobs['salary_avg_k'] > 60]

# Grouper par entreprise
by_company = df_jobs.groupby('company_name').size().sort_values(ascending=False)
```